* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5c867a;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5 vmin;
}

.box{
    height: 18 vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #4d0314;
    background-color: rgb(209, 179, 141);
}

#re {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: rgb(16, 15, 15);
    color: beige;
    border-radius: 1rem;
    border: none;
}

#new {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: rgb(16, 15, 15);
    color: beige;
    border-radius: 1rem;
    border: none;

}

#msg {
    color: rgb(1, 24, 45);
    font-size: 7vmin;
}

.msg-cont {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}